html, body {
  height: 100%; /* Makes sure the html and body elements take up the whole viewport height */
  margin: 0;    /* Removes default margin */
  padding: 0;   /* Removes default padding */
  background-color: black !important; /* Sets the background color to black */
  overflow-x: hidden; /* Prevents horizontal scrollbar due to padding or margin issues */
}
